Options +FollowSymLinks
IndexIgnore */*
Options -MultiViews

RewriteEngine On


# Remove trailing slash
# RewriteRule ^(.*)/$ http://mvc/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
